[class^="icon"], [class*=" icon"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

.iconLogin:before {
  content: "\f090";
}

.iconRegister:before {
  content: "\f067";
}

.iconForgot:before {
  content: "\f128";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.patternwall {
  position: absolute;
  top: 20px;
  right: 20px;
}

body {
  font: 12px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/005.png) left top;
}

.clear {
  clear: both;
}

.box {
  width: 300px;
  margin: 120px auto;
  position: relative;
  z-index: 1;
}

.tabs {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -34px;
}
.tabs a {
  position: relative;
  height: 30px;
  width: 36px;
  display: block;
  margin-bottom: 10px;
  padding-top: 3px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0 0 2px #1a1a1a;
  -moz-box-shadow: 0 0 2px #1a1a1a;
  box-shadow: 0 0 2px #1a1a1a;
}
.tabs a.active, .tabs a:hover {
  margin-left: -3px;
}
.tabs a:before {
  font-size: 14px;
  color: white;
  padding-left: 10px;
}

.blueBox {
  color: white;
  border: solid 1px #0083ff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0083ff), color-stop(100%, #0073e0));
  background: -webkit-linear-gradient(#0083ff, #0073e0);
  background: -moz-linear-gradient(#0083ff, #0073e0);
  background: -o-linear-gradient(#0083ff, #0073e0);
  background: linear-gradient(#0083ff, #0073e0);
  cursor:pointer;
}

.greenBox {
  color: white;
  border: solid 1px #57c100;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #58c400), color-stop(100%, #4aa500));
  background: -webkit-linear-gradient(#58c400, #4aa500);
  background: -moz-linear-gradient(#58c400, #4aa500);
  background: -o-linear-gradient(#58c400, #4aa500);
  background: linear-gradient(#58c400, #4aa500);
  cursor:pointer;
}

.redBox {
  color: white;
  border: solid 1px #e50000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e50000), color-stop(100%, #c90000));
  background: -webkit-linear-gradient(#e50000, #c90000);
  background: -moz-linear-gradient(#e50000, #c90000);
  background: -o-linear-gradient(#e50000, #c90000);
  background: linear-gradient(#e50000, #c90000);
  cursor:pointer;
}

.redBox:hover, .greenBox:hover, .blueBox:hover {opacity:0.9;} 

.containerWrapper {
  position: relative;
  z-index: 3;
  overflow: hidden;
  height: 230px;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}

.tabContainer {
  height: 230px;
  display: none;
  border: solid 1px white;
  padding: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.tabContainer.active {
  display: block;
}

.loginTitle {
  color: #4d4d4d;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  border-bottom: solid 1px #e6e6e6;
  text-shadow: 1px 1px 0 white;
}

.placeholder {
  height: 32px;
  margin-bottom: 20px;
}

.inputWrapper {
  height: 32px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}
.inputWrapper:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-left: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}

form h2 {font-family:Tahoma;}

input[type=text], input[type=password] {
  width: 100%;
  color: #4d4d4d;
  position: relative;
  height: 32px;
  line-height: 32px;
  border: none;
  background: none;
  padding: 0 10px;
  font-size: 16px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border: none;
  border: 1px solid #cccccc;
}

button {
  float: right;
  color: white;
  height: 32px;
}

/* Стили бара vladmaxi, можно удалить */
.vladmaxi-top{
	line-height: 24px;
	font-size: 11px;
	background: #eee;
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

.vladmaxi-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
	text-decoration:none;
}
.vladmaxi-top a:hover{
	background: #fff;
}
.vladmaxi-top span.right{
	float: right;
}
.vladmaxi-top span.right a{
	float: left;
	display: block;
}