<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WoW</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <section class="center-block">
            <form method="POST" action="/">
                <h1>lITTLE daMp</h1>
                <label>
                    <input type="text" class="input" name="login" placeholder="Login">
                </label>
                <label>
                    <input type="password" class="input" name="password" placeholder="Password">
                </label>
                <button>Hack!daMp</button>
            </form>
        </section>
    </main>
</body>
</html>